<div class="ui mini form">
  <h3>Local projects</h3>
  <button style="margin-left: 70%" class="tiny ui blue button">
    <i class="eye icon"></i>Create Project
  </button>
  <table class="ui very basic table" style="width: 80%;">
    <thead>
    <tr>
      <th><h4>#</h4></th>
      <th><h4>Land Name</h4></th>
      <th><h4>Location</h4></th>
      <th><h4>Created Date</h4></th>
      <th><h4>Approval States</h4></th>
      <th><h4></h4></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>01</td>
      <td>New Land</td>
      <td>Galle</td>
      <td>2018-03-18 18:30:00</td>
      <td>Approved</td>
      <td>
        <button class="circular ui icon red button">
          <i class="x icon"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>02</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>03</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>04</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <div class="two wide fields">
    <div class="field">
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 40%;">Land Original Name*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 40%;">Location*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 40%;">Starting Date*</label>
          <input type="date">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 40%;">No. Of Lots</label>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="field" style="margin-right: 15%">
      <div class="ui mini form">
        <div class="inline fields">
          <div class="twelve wide field">
            <label style="width: 40%;">Project No*</label>
            <input type="text">
          </div>
        </div>
        <div class="inline fields">
          <div class="twelve wide field">
            <label style="width: 40%;">Land Sale Name*</label>
            <input type="text">
          </div>
        </div>
        <div class="inline fields">
          <div class="twelve wide field">
            <label style="width: 40%;">Project Code*</label>
            <input type="text">
          </div>
        </div>
        <a routerLink="summary">
          <button class="ui inverted green button" style="margin-left: 60%">Next</button>
        </a>
      </div>
    </div>
  </div>
</div>
