<div class="ui mini form">
  <div class="two wide fields">
    <div class="field">
      <h3>Land Details</h3>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Name*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Location*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Local Authority*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;"></label>
          <input type="text" disabled="">
        </div>
      </div>
      <h3>Land Owner</h3>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Name*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Address</label>
          <textarea rows="2" disabled=""></textarea>
        </div>
      </div>
      <div class="twelve wide field">
        <div class="field">
          <h3>Location Details</h3>
          <textarea rows="2" disabled=""></textarea>
        </div>
      </div>
      <h3>Extent and Pricing</h3>
      <div class="inline fields">
        <label style="width: 20%">Total Extent*</label>
        <div class="two wide field">
          <input type="text" disabled="">
        </div>
        <label>A</label>
        <div class="two wide field">
          <input type="text" disabled="">
        </div>
        <label>R</label>
        <div class="two wide field">
          <input type="text" disabled="">
        </div>
        <label>P</label>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Total in Purchase*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Roadways(P)*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Reservations (P)*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Sellable Area(P)*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Original Price*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Negotiated Price*</label>
          <input type="text" disabled="">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 20%;">Price + Commission *</label>
          <input type="text" disabled="">
        </div>
      </div>
    </div>
    <div class="field" style="margin-right: 15%">
      <div class="ui mini form">
        <h4><label>States :</label></h4>
        <table class="ui very basic table" style="width: 80%;">
          <thead>
          <tr>
            <th colspan="3"><h3>Documents</h3></th>
          </tr>
          <tr>
            <th colspan="1"><h4>#</h4></th>
            <th colspan="2"><h4>Document</h4></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>01</td>
            <td style="text-align: left">None Visiting / Local Authority</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>02</td>
            <td style="text-align: left">Approval / Tea Board</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>03</td>
            <td style="text-align: left">Approval/Rubber Board</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>04</td>
            <td style="text-align: left">Approval/Coconut Board</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>05</td>
            <td style="text-align: left">Street Line</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>06</td>
            <td style="text-align: left">Title Report</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>07</td>
            <td style="text-align: left">Perimeter Plan</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>08</td>
            <td style="text-align: left">nbro</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>09</td>
            <td style="text-align: left">uda</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>10</td>
            <td style="text-align: left">Enviromental</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>11</td>
            <td style="text-align: left">Municipal Council</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>12</td>
            <td style="text-align: left">Pradeshiya Sabha</td>
            <td style="text-align: left">
              <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label></label>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: left"></td>
            <td style="text-align: left"></td>
          </tr>
          </tbody>
        </table>
        <h3>Introducer / Broker</h3>
        <div class="inline fields">
          <div class="twelve wide field">
            <label style="width: 20%;">Name*</label>
            <input type="text" disabled="">
          </div>
        </div>
        <div class="inline fields">
          <div class="twelve wide field">
            <label style="width: 20%;">Address*</label>
            <textarea rows="2" disabled=""></textarea>
          </div>
        </div>
        <div class="inline fields">
          <div class="twelve wide field">
            <label style="width: 20%;">Commission Agreed</label>
            <input type="text" disabled="">
          </div>
        </div>
        <div class="inline fields">
          <div class="twelve wide field">
            <label style="width: 20%;">Remarks*</label>
            <textarea rows="2" disabled=""></textarea>
          </div>
        </div>
      </div>
      <div class="field" style="padding-left: 25%">
        <button class="ui inverted green button">Edit</button>
        <button class="ui inverted red button">Delete</button>
        <button class="ui inverted primary button">Save</button>
      </div>
    </div>
  </div>
  <h3>Foreign projects</h3>
  <table class="ui very basic table" style="width: 80%;">
    <thead>
    <tr>
      <th><h4>#</h4></th>
      <th><h4>Developer</h4></th>
      <th><h4>Project Name</h4></th>
      <th><h4>Commenced Date</h4></th>
      <th><h4>Total No of Lots</h4></th>
      <th><h4>No. of Unsold Lots</h4></th>
      <th><h4>Remarks</h4></th>
      <th><h4>Area</h4></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>01</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>02</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>03</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>04</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <h3>Local projects</h3>
  <table class="ui very basic table" style="width: 80%;">
    <thead>
    <tr>
      <th><h4>#</h4></th>
      <th><h4>Project Name</h4></th>
      <th><h4>Commenced Date</h4></th>
      <th><h4>Total No of Lots</h4></th>
      <th><h4>No. of Unsold Lots</h4></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>01</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>02</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>03</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>04</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <h3 style="padding-left: 30%">Financial Overview</h3>
  <div class="two wide fields">
    <div class="field">
      <div class="inline fields">
        <div class="eight wide field">
          <label style="width: 40%;">Cash flow Period*</label>
          <input type="text" disabled="">
        </div>
        <label style="width: 20%;">Months</label>
      </div>
    </div>
  </div>
  <div class="two wide fields">
    <div class="field">
      <table class="ui very basic table" style="width: 80%;">
        <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="text-align: left">purchasing costs</td>
          <td style="text-align: left"><label></label></td>
        </tr>
        <tr>
          <td style="text-align: left">Development Cost</td>
          <td style="text-align: left"><label></label></td>
        </tr>
        <tr>
          <td style="text-align: left">Advertising Expenses</td>
          <td style="text-align: left"><label></label></td>
        </tr>
        <tr>
          <td style="text-align: left">Resale 01 expenses</td>
          <td style="text-align: left"><label></label></td>
        </tr>
        <tr>
          <td style="text-align: left">Resale 02 expenses</td>
          <td style="text-align: left"><label></label></td>
        </tr>
        <tr>
          <td style="text-align: left">Cost Of Money</td>
          <td style="text-align: left"><label></label></td>
        </tr>
        <tr>
          <td style="text-align: left">Taxes & Levies</td>
          <td style="text-align: left"><label></label></td>
        </tr>
        <tr>
          <td style="text-align: left">Incentives</td>
          <td style="text-align: left"><label></label></td>
        </tr>
        <tr>
          <td style="text-align: left"><h4>Total Costs</h4></td>
          <td style="text-align: left"><label></label></td>
        </tr>
        <tr>
          <td style="text-align: left"></td>
          <td style="text-align: left"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="field" style="margin-right: 15%">
      <div class="ui mini form">
        <table class="ui very basic table" style="width: 80%;">
          <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="text-align: left"><h4>Sale Price</h4></td>
            <td style="text-align: left"><label></label></td>
          </tr>
          <tr>
            <td style="text-align: left"><h4>Total Cost</h4></td>
            <td style="text-align: left"><label></label></td>
          </tr>
          <tr>
            <td style="text-align: left"><h4>Net Profit</h4></td>
            <td style="text-align: left"><label></label></td>
          </tr>
          <tr>
            <td style="text-align: left"><h4>ROI</h4></td>
            <td style="text-align: left"><label></label></td>
          </tr>
          <tr>
            <td style="text-align: left"></td>
            <td style="text-align: left"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="ui tiny form">
    <div class="inline fields">
      <div class="four wide field">
        <label style="width: 40%;"><h5>Prepared By : </h5></label>
        <input type="text" disabled>
      </div>
      <div class="four wide field">
        <div class="fluid ui animated fade violet button" tabindex="0">
          <div class="visible content">Approve Land</div>
          <div class="hidden content">
            Approved
          </div>
        </div>
      </div>
      <div class="four wide field">
        <div class="fluid ui animated fade yellow button" tabindex="0">
          <div class="visible content">Reject</div>
          <div class="hidden content">
            Reject
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui width form">
    <div class="fields">
      <div class="four wide field">
        <h4 class="ui center aligned icon header">
          <p>Project Officer</p>
          <p>Ready To Sent.</p>
          <p>.....................................</p>
          <p>Signature</p>
        </h4>
      </div>
      <div class="four wide field">
        <h4 class="ui center aligned icon header">
          <p>Branch Manager</p>
          <p>Ready To Sent.</p>
          <p>.....................................</p>
          <p>Signature</p>
        </h4>
      </div>
      <div class=" four wide field">
        <h4 class="ui center aligned icon header">
          <p>Ready To Sent.</p>
          <p>Head Office</p>
          <p>.....................................</p>
          <p>Signature</p>
        </h4>
      </div>
    </div>
  </div>
</div>
