<div class="ui mini form">
  <div class="two wide fields">
    <div class="field">
      <h3>2.1 Land Preparation Costs</h3>
      <table class="ui very basic table" style="width: 80%;">
        <thead>
        <tr>
          <th><h4>2.1</h4></th>
          <th><h4>Land Preparation Costs</h4></th>
          <th><h4>Amount</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2.1.1</td>
          <td style="text-align: left">Clearing the Land</td>
          <td style="text-align: left"><input type="text" placeholder="Clearing the Land"></td>
        </tr>
        <tr>
          <td>2.1.2</td>
          <td style="text-align: left">Machinery (JCB)</td>
          <td style="text-align: left"><input type="text" placeholder="Machinery (JCB)"></td>
        </tr>
        <tr>
          <td>2.1.3</td>
          <td style="text-align: left">Machinery (Dozer and Excavator)</td>
          <td style="text-align: left"><input type="text" placeholder="Machinery (Dozer and Excavator)"></td>
        </tr>
        <tr>
          <td>2.1.4</td>
          <td style="text-align: left">Transport (Tipper)</td>
          <td style="text-align: left"><input type="text" placeholder="Transport (Tipper)"></td>
        </tr>
        <tr>
          <td>2.1.5</td>
          <td style="text-align: left">Drilling And Blasting Rocks</td>
          <td style="text-align: left"><input type="text" placeholder="Drilling And Blasting Rocks"></td>
        </tr>
        <tr>
          <td>2.1.6</td>
          <td style="text-align: left">Finishing the Land</td>
          <td style="text-align: left"><input type="text" placeholder="Finishing the Land"></td>
        </tr>
        <tr>
          <td>2.1.7</td>
          <td style="text-align: left">Purchasing Concrete Poles</td>
          <td style="text-align: left"><input type="text" placeholder="Purchasing Concrete Poles"></td>
        </tr>
        <tr>
          <td>2.1.8</td>
          <td style="text-align: left">Purchasing Wooden Poles</td>
          <td style="text-align: left"><input type="text" placeholder="Purchasing Wooden Poles"></td>
        </tr>
        <tr>
          <td>2.1.9</td>
          <td style="text-align: left">Labour Charges</td>
          <td style="text-align: left"><input type="text" placeholder="Labour Charges"></td>
        </tr>
        <tr>
          <td>2.1.10</td>
          <td style="text-align: left">Staff Welfare</td>
          <td style="text-align: left"><input type="text" placeholder="Staff Welfare"></td>
        </tr>
        <tr>
          <td>2.1.11</td>
          <td style="text-align: left">Labour Welfare</td>
          <td style="text-align: left"><input type="text" placeholder="Labour Welfare"></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: left">Sub Total</td>
          <td style="text-align: left"><input type="text" placeholder="Sub Total"></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: left"></td>
          <td style="text-align: left"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="field" style="margin-right: 15%">
      <div class="ui mini form">
        <h3>2.2 Construction Costs</h3>
        <table class="ui very basic table" style="width: 80%;">
          <thead>
          <tr>
            <th><h4>2.2</h4></th>
            <th><h4>Construction Costs</h4></th>
            <th><h4>Amount</h4></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>2.2.1</td>
            <td style="text-align: left">Side Drains (Roads)</td>
            <td style="text-align: left"><input type="text" placeholder="Side Drains (Roads)"></td>
          </tr>
          <tr>
            <td>2.2.2</td>
            <td style="text-align: left">Culverts (Roads)</td>
            <td style="text-align: left"><input type="text" placeholder="Culverts (Roads)"></td>
          </tr>
          <tr>
            <td>2.2.3</td>
            <td style="text-align: left">Concerting (Roads)</td>
            <td style="text-align: left"><input type="text" placeholder="Concerting (Roads)"></td>
          </tr>
          <tr>
            <td>2.2.4</td>
            <td style="text-align: left">Tarring (Roads)</td>
            <td style="text-align: left"><input type="text" placeholder="Tarring (Roads)"></td>
          </tr>
          <tr>
            <td>2.2.5</td>
            <td style="text-align: left">Barbwired Fench</td>
            <td style="text-align: left"><input type="text" placeholder="Barbwired Fench"></td>
          </tr>
          <tr>
            <td>2.2.6</td>
            <td style="text-align: left">Parapet Wall</td>
            <td style="text-align: left"><input type="text" placeholder="Parapet Wall"></td>
          </tr>
          <tr>
            <td>2.2.7</td>
            <td style="text-align: left">Water Project</td>
            <td style="text-align: left"><input type="text" placeholder="Water Project"></td>
          </tr>
          <tr>
            <td>2.2.8</td>
            <td style="text-align: left">Project Office</td>
            <td style="text-align: left"><input type="text" placeholder="Project Office"></td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: left">Sub Total</td>
            <td style="text-align: left"><input type="text" placeholder="Sub Total"></td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: left"></td>
            <td style="text-align: left"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="two wide fields">
    <div class="field">
      <h3>2.3 Public Infrastructure Costs</h3>
      <table class="ui very basic table" style="width: 80%;">
        <thead>
        <tr>
          <th><h4>2.3</h4></th>
          <th><h4>Public Infrastructure Costs</h4></th>
          <th><h4>Amount</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2.3.1</td>
          <td style="text-align: left">Main Electricity</td>
          <td style="text-align: left"><input type="text" placeholder="Main Electricity"></td>
        </tr>
        <tr>
          <td>2.3.2</td>
          <td style="text-align: left">Main Water Supply</td>
          <td style="text-align: left"><input type="text" placeholder="Main Water Supply"></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: left">Sub Total</td>
          <td style="text-align: left"><input type="text" placeholder="Sub Total"></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: left"></td>
          <td style="text-align: left"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="field" style="margin-right: 15%">
      <div class="ui mini form">
        <h3>2.4 Traveling Expenses</h3>
        <table class="ui very basic table" style="width: 80%;">
          <thead>
          <tr>
            <th><h4>2.4</h4></th>
            <th><h4>Traveling Expenses</h4></th>
            <th><h4>Amount</h4></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>2.4.1</td>
            <td style="text-align: left">Project Manager</td>
            <td style="text-align: left"><input type="text" placeholder="Project Manager"></td>
          </tr>
          <tr>
            <td>2.4.2</td>
            <td style="text-align: left">Senior Manager</td>
            <td style="text-align: left"><input type="text" placeholder="Senior Manager"></td>
          </tr>
          <tr>
            <td>2.4.3</td>
            <td style="text-align: left">Sales Manager</td>
            <td style="text-align: left"><input type="text" placeholder="Sales Manager"></td>
          </tr>
          <tr>
            <td>2.4.4</td>
            <td style="text-align: left">Project Officer 1</td>
            <td style="text-align: left"><input type="text" placeholder="Project Officer 1"></td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: left">Sub Total</td>
            <td style="text-align: left"><input type="text" placeholder="Sub Total"></td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: left"></td>
            <td style="text-align: left"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="two wide fields">
    <div class="field">
      <h3>2.5 Telephone Expenses</h3>
      <table class="ui very basic table" style="width: 80%;">
        <thead>
        <tr>
          <th><h4>2.5</h4></th>
          <th><h4>Telephone Expenses</h4></th>
          <th><h4>Amount</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2.5.1</td>
          <td style="text-align: left">Project Manager</td>
          <td style="text-align: left"><input type="text" placeholder="Project Manager"></td>
        </tr>
        <tr>
          <td>2.5.2</td>
          <td style="text-align: left">Senior Manager</td>
          <td style="text-align: left"><input type="text" placeholder="Senior Manager"></td>
        </tr>
        <tr>
          <td>2.5.3</td>
          <td style="text-align: left">Sales Manager</td>
          <td style="text-align: left"><input type="text" placeholder="Sales Manager"></td>
        </tr>
        <tr>
          <td>2.5.4</td>
          <td style="text-align: left">Project Officer 1</td>
          <td style="text-align: left"><input type="text" placeholder="Project Officer 1"></td>
        </tr>
        <tr>
          <td>2.5.5</td>
          <td style="text-align: left">Project Officer 2</td>
          <td style="text-align: left"><input type="text" placeholder="Project Officer 2"></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: left">Sub Total</td>
          <td style="text-align: left"><input type="text" placeholder="Sub Total"></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: left"></td>
          <td style="text-align: left"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="field" style="margin-right: 15%">
      <div class="ui mini form">
        <h3>2.6 Other Expenses</h3>
        <table class="ui very basic table" style="width: 80%;">
          <thead>
          <tr>
            <th><h4>2.6</h4></th>
            <th><h4>Other Expenses</h4></th>
            <th><h4>Amount</h4></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>2.6.1</td>
            <td style="text-align: left">Land Name Board</td>
            <td style="text-align: left"><input type="text" placeholder="Land Name Board"></td>
          </tr>
          <tr>
            <td>2.6.2</td>
            <td style="text-align: left">Project Maintenance</td>
            <td style="text-align: left"><input type="text" placeholder="Project Maintenance"></td>
          </tr>
          <tr>
            <td>2.6.3</td>
            <td style="text-align: left">Entertainment</td>
            <td style="text-align: left"><input type="text" placeholder="Entertainment"></td>
          </tr>
          <tr>
            <td>2.6.4</td>
            <td style="text-align: left">Unforseen</td>
            <td style="text-align: left"><input type="text" placeholder="Unforseen"></td>
          </tr>
          <tr>
            <td>2.6.5</td>
            <td style="text-align: left">Re-sale</td>
            <td style="text-align: left"><input type="text" placeholder="Re-sale"></td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: left">Sub Total</td>
            <td style="text-align: left"><input type="text" placeholder="Sub Total"></td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: left"></td>
            <td style="text-align: left"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="two wide fields">
    <div class="field">
      <h3>2.7 Extra Expenses</h3>
      <table class="ui very basic table" style="width: 80%;">
        <thead>
        <tr>
          <th><h4>2.7</h4></th>
          <th><h4>Extra Expenses</h4></th>
          <th><h4>Amount</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2.7.1</td>
          <td style="text-align: left"><input type="text" placeholder="Description"></td>
          <td style="text-align: left"><input type="text" placeholder=""></td>
        </tr>
        <tr>
          <td>2.7.1</td>
          <td style="text-align: left"><input type="text" placeholder="Description"></td>
          <td style="text-align: left"><input type="text" placeholder=""></td>
        </tr>
        <tr>
          <td>2.7.3</td>
          <td style="text-align: left"><input type="text" placeholder="Description"></td>
          <td style="text-align: left"><input type="text" placeholder=""></td>
        </tr>
        <tr>
          <td>
            <button class="circular ui icon green button">
              <i class="plus circle icon"></i>
            </button>
          </td>
          <td style="text-align: left">Sub Total</td>
          <td style="text-align: left"><input type="text" placeholder="Sub Total"></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: left"></td>
          <td style="text-align: left"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="field" style="margin-right: 15%">
      <div class="ui mini form">
      </div>
    </div>
  </div>
  <div class="field">
    <button class="ui inverted green button">Edit</button>
    <button class="ui inverted red button">Delete</button>
    <button class="ui inverted primary button">Save</button>
  </div>
</div>
