<div class="ui bottom attached segment pushable">
  <div class="ui visible inverted left vertical sidebar menu" style="background-color: #0d71bb">
    <a class="item">
      <i class="home icon"></i>
      Dashboard
    </a>
    <a class="item" routerLink="landOverview">
      <i class="block layout icon"></i>
      Land Overview
    </a>
    <a class="item" routerLink="purchasingCosts">
      <i class="smile icon"></i>
      Purchasing Costs
    </a>
    <a class="item" routerLink="developmentCosts">
      <i class="calendar icon"></i>
      Development Costs
    </a>
    <a class="item" routerLink="advertisingCosts">
      <i class="calendar icon"></i>
      Advertising Costs
    </a>
    <a class="item" routerLink="resaleCosts">
      <i class="calendar icon"></i>
      Resale Costs
    </a>
    <a class="item" routerLink="salesProfitability">
      <i class="calendar icon"></i>
      Sales And Profitability
    </a>
    <a class="item" routerLink="summary">
      <i class="calendar icon"></i>
      Summary
    </a>
    <a class="item" routerLink="approvedProjects">
      <i class="calendar icon"></i>
      Approved Projects
    </a>
    <a class="item" routerLink="landSaleProfile">
      <i class="calendar icon"></i>
      Land Sale Profile
    </a>
    <a class="item" routerLink="areawiseProject">
      <i class="calendar icon"></i>
      Areawise Project
    </a>
    <a class="item" routerLink="rejectedProjecet">
      <i class="calendar icon"></i>
      Rejected Projecet
    </a>
    <a class="item" routerLink="locations">
      <i class="calendar icon"></i>
      Locations
    </a>
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
