<div class="ui mini form">
  <div class="two wide fields">
    <div class="field">
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 40%;">Area*</label>
          <input type="text" placeholder="Area">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 40%;">Developer*</label>
          <input type="text" placeholder="Developer">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 40%;">Project Name</label>
          <input type="text" placeholder="Project Name">
        </div>
      </div>
      <div class="inline fields">
        <div class="twelve wide field">
          <label style="width: 40%;">Commenced Date*</label>
          <input type="text" placeholder="Commenced Date">
        </div>
      </div>
    </div>
    <div class="field" style="margin-right: 15%">
      <div class="ui mini form">
        <div class="inline fields">
          <div class="twelve wide field">
            <label style="width: 40%;">Total No Of Lots*</label>
            <input type="text" placeholder="Total No Of Lots">
          </div>
        </div>
        <div class="inline fields">
          <div class="twelve wide field">
            <label style="width: 40%;">UnSold Lots*</label>
            <input type="text" placeholder="UnSold Lots">
          </div>
        </div>
        <div class="inline fields">
          <div class="twelve wide field">
            <label style="width: 40%;">Remarks*</label>
            <textarea rows="2"></textarea>
          </div>
        </div>
      </div>
      <div class="field" style="padding-left: 60%">
        <button class="ui inverted primary button">Save</button>
      </div>
    </div>
  </div>
  <table class="ui very basic table" style="width: 80%;">
    <thead>
    <tr>
      <th colspan="9"><h3>Area wise Projects</h3></th>
    </tr>
    <tr>
      <th><h4>#</h4></th>
      <th><h4>Developer</h4></th>
      <th><h4>Project Name</h4></th>
      <th><h4>Commenced Date</h4></th>
      <th><h4>Total No Of Lots</h4></th>
      <th><h4>UnSold Lots</h4></th>
      <th><h4>Remarks</h4></th>
      <th><h4>Area</h4></th>
      <th><h4></h4></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>01</td>
      <td style="text-align: left">dhanushka</td>
      <td style="text-align: left">project 01</td>
      <td style="text-align: left">2017</td>
      <td style="text-align: left">500</td>
      <td style="text-align: left">500</td>
      <td style="text-align: left">hikzz</td>
      <td style="text-align: left">galle</td>
      <td style="text-align: left">
        <button class="mini ui green button">
          <i class="external alternate icon"></i>Edit
        </button>
      </td>
    </tr>
    <tr>
      <td>01</td>
      <td style="text-align: left">Sanju</td>
      <td style="text-align: left">project 02</td>
      <td style="text-align: left">2016</td>
      <td style="text-align: left">200</td>
      <td style="text-align: left">200</td>
      <td style="text-align: left">hikzz</td>
      <td style="text-align: left">Matara</td>
      <td style="text-align: left">
        <button class="mini ui green button">
          <i class="external alternate icon"></i>Edit
        </button>
      </td>
    </tr>
    <tr>
      <td>01</td>
      <td style="text-align: left">dhanushka</td>
      <td style="text-align: left">project 01</td>
      <td style="text-align: left">2017</td>
      <td style="text-align: left">500</td>
      <td style="text-align: left">500</td>
      <td style="text-align: left">hikzz</td>
      <td style="text-align: left">galle</td>
      <td style="text-align: left">
        <button class="mini ui green button">
          <i class="external alternate icon"></i>Edit
        </button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td style="text-align: left"></td>
      <td style="text-align: left"></td>
      <td style="text-align: left"></td>
      <td style="text-align: left"></td>
      <td style="text-align: left"></td>
      <td style="text-align: left"></td>
      <td style="text-align: left"></td>
      <td style="text-align: left"></td>
    </tr>
    </tbody>
  </table>
</div>


